<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>404 Page Not Found - 3DNotFound</title>
<link href="https://a1.muscache.com/airbnb/static/packages/common_o2.1-f8a73ee0d4378e3442aa7772f248998e.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page-container page-container-responsive">
<div class="row space-top-8 space-8 row-table">
<div class="col-5 col-middle">
<h1 class="text-jumbo text-ginormous">Упсс!</h1>
<h2>Страницы не существует или она была удалена.</h2>
<h6>Ошибка 404</h6>
<ul class="list-unstyled">
<li>Некоторые полезные ссылки:</li>
<li><a href="/posts/">Главная</a></li>
</ul>
</div>
<div class="col-5 col-middle text-center">
<img src="/img/404.png" alt="404 ошибка">
</div>
</div>
</div>
</div>
</body>
</html>