{% extends 'header.html' %}

{% block page %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
    </div>
  </div>
<form action="{{ form_url }}" enctype="multipart/form-data" method="POST">
    {{ form }}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Изменить</button>
</form>
<form action="{{ delete_url }}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Удалить</button>
</form> 
{% endblock %}